<header>
  <div class="pathdark">
    <img src="/assets/images/sw-mt4bwu.png" alt="may-the-fourth-be-with-you">
  </div>
</header>

<div id="content">
  <input type="text" (keyup)="onKeyUp($event.target.value)" />
    <ul>
      <li *ngFor="let data of dataset">
        {{ data.name }}
      </li>
    </ul>
</div>

<footer>
  <div class="path">
    <p>
      &#60; coded /&#62; with [coffee] by <a href="http://chroda.com.br" target="_blank">chroda</a>
    </p>
  </div>
  <img src="/assets/images/bb-8.png" alt="bb-8" class="bb-8" />
  <img src="/assets/images/r2d2.png" alt="r2d2" class="r2d2" />
</footer>
