@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css);

header{
  height: 200px;
}

#content{
  width: 800px;
  margin: 0 auto;
}

footer{
  position: absolute;
  bottom: 0;
  height: 200px;
}
