/* Coolors Exported Palette - coolors.co/000000-ffe81f-ffffff-ff0006-43c9ef */

/* HSL */
$color1: hsla(0%, 0%, 0%, 1);
$color2: hsla(54%, 100%, 56%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(359%, 100%, 50%, 1);
$color5: hsla(193%, 84%, 60%, 1);

/* RGB */
$color1: rgba(0, 0, 0, 1);
$color2: rgba(255, 232, 31, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(255, 0, 6, 1);
$color5: rgba(67, 201, 239, 1);